/* 
Jennifer Morrison 
October 26, 2023 
File Name: portfolio.css
Web 210 - Assignment 10

COLOR PALETTE from https: //coolors.co/
Set Variables for font colors*/
:root {

    --dkpurple: #4C1D54;
    --ltgrey: #dce1e4;
    --medgrey: #9AA8B0;
    --dkgrey: #3D4D56;
    --black: #333;
    --white: #fff;
}

/* Global Styles  ------------------------------------------------*/

/* Set HTML root font-size and border-box styling */
html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* MOBILE Display ---------------------------------------------*/

/* Body section styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: var(--black);
    line-height: 1.6;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: var(--dkpurple);
    width: 100%;
    color: var(--white);
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav ul li {
    font-size: 1rem;
    display: block;
    position: relative;
    padding: 0.8em;
    cursor: pointer;
}

nav li a {
    color: #273B50;
    text-decoration: none;
    padding: 0.3em 0.5em;
    color: var(--white);
}

nav li a:hover {
    background-color: var(--ltgrey);
    color: var(--dkpurple);
}

/* Image and link styles */
img {
    max-width: 100%;
    border-radius: 10px;
}

a {
    color: var(--white);
}

/* Heading and paragraph font styles */
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: var(--dkpurple);
    text-shadow: 2px 2px 8px var(--dkgrey);
}

h2 {
    font-family: 'Kalam', cursive;
    margin: 0;
    font-size: 2.5rem;
    color: var(--dkpurple);
}

h3 {
    margin-bottom: 0;
}

p {
    text-align: left;
}


/* Container styles for sections of Main */
.content-wrap {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.item-details h3+p {
    font-style: italic;
    text-align: center;
}

.item-details h3~p {
    margin: 0;
}

/* Profile/Header Section */

header {
    background-image: url(../images/whitebrick.jpg);
    background-size: cover;
}

.intro {
    margin: 0 auto;
}

header img {
    display: none;
}

/* Skills Section */

.skills {
    background-color: var(--medgrey);
}

/* Projects Section */

.projects {
    background-color: var(--ltgrey);
}

/* Text colors for  projects and education sections */
.projects a,
.projects h2,
.projects h3,
.projects p {
    color: var(--dkgrey);
}

.projects img {
    width: 90%;
    border: 1px solid var(--dkgrey);
    box-shadow: 5px 5px 8px var(--dkgrey);
}

/* Button styling for projects section */
.projects .btn {
    background-color: var(--dkgrey);
    color: var(--white);
    text-decoration: none;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    display: inline-block;
}

/* Added opacity change for button hover state */
.projects .btn:hover {
    background-color: rgba(39, 59, 80, 70%);
}

/*Added bottom border to project section for easier readability */
.grid-container>section {
    border-bottom: 2px solid var(--dkgrey);
}

.grid-container>section:last-of-type {
    border-bottom: none;
}

/* Removing project container bottom padding and margin */
.project-item:not(:last-of-type) {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

/* Changed text color for h3 and removed top margin */
.project-item h3 {
    margin-top: 0.5em;
}


/* Education Section  ----------------------------------------------------------*/

.education,
.education h2,
.education a {
    background-color: var(--dkgrey);
    color: var(--white)
}

.college-text {
    text-align: center;
}

/* Footer/Contact Information Section ------------------*/

/* Added background color */
footer,
footer a {
    background-color: var(--dkpurple);
    color: var(--white);
}

footer h2 {
    color: var(--white);
    font-size: 2rem;
}

/* Email and Social Media links */
footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

footer li {
    padding: 0.25em 0;
}

/* TABLET Display ---------------------------------------------*/

@media screen and (min-width: 760px) {

    /* Tablet: Text center-aligned */
    header,
    body,
    footer {
        text-align: center;
    }

    h1 {
        font-size: 5rem;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    .site {
        display: grid;
        grid-template-areas:
            'nav nav nav'
            'header header header'
            'main main main'
            'footer footer footer';
    }

    nav {
        grid-area: nav;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    .main {
        display: grid;
        align-items: center;
        grid-template-areas:
            'projects projects'
            'skills skills'
            'education education';
    }

    .skills {
        grid-area: skills;
        width: 100%;
        height: 100%;
    }

    /*About Section Grid styling*/
    .about {
        display: grid;
        gap: 1em;
        grid-template-areas:
            'firstpic firstpic para1 para1 para1'
            'para2 para2 para2 secpic secpic';
    }

    .about img:first-of-type {
        grid-area: firstpic;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about p:first-of-type {
        grid-area: para1;
    }

    .about img:last-of-type {
        grid-area: secpic;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about p:last-of-type {
        grid-area: para2;
    }

    .projects {
        grid-area: projects;
    }

    .education {
        grid-area: education;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item-details {
        width: 80%;
    }


    /* Tablet: Project section styles */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: auto auto; */
        gap: 3em 1.5em;
    }

    .grid-container>section {
        border-bottom: none;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-item {
        grid-column: span 2;
    }

    .project-item:last-of-type {
        grid-column: 2 / 4;
    }

    .project-item img {
        width: 80%;
    }

    /* Tablet: Education section styles */
    .education img {
        width: 60%;
    }

    .divider>section {
        border-bottom: none;
    }


    footer ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    footer ul a {
        padding: 1em;
    }


}

/* REQUIRED: Added media query for smaller displays */
@media screen and (min-width: 950px) {

    nav ul li {
        font-size: 1.4rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 92vh;
    }

    h1 {
        font-size: 7rem;
        line-height: 1;
        margin-bottom: 20px;
    }

    .intro {
        width: 65%;
        line-height: 2;
    }

    .intro p {
        font-size: 1.2rem;
        /* font-style: italic; */
        font-weight: bold;
    }


    .main {
        grid-template-areas:
            'projects projects projects projects '
            'skills skills education education';
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .project-item,
    .project-item:last-of-type {
        grid-column: span 1;
        justify-content: flex-start;
    }



}